body {
  background-color: #ffffff;
}

h1 {
  font-weight: 300;
  font-size: 60px;
  color: #ffffff;
}

h2 {
  font-weight: 300;
  font-size: 30px;
  color: #222626;
}

h3 {
  font-weight: 600;
  font-size: 13px;
  padding-bottom: 25px;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: #959595;
  line-height: 24px;
}

button {
  border-radius: 3px;
  border: none;
  padding: 5px 20px;
  font-size: 11px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #82ca9c;
  margin-bottom: 20px;
}

.takpap {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  transform: rotate(-90deg);
}

@media (min-width: 1250px) {
  .container {
    width: 1230px;
  }
}
body {
  font-family: "Open Sans", sans-serif;
}

footer {
  background-color: #192431;
  height: 573px;
}
footer h3, footer p, footer li {
  color: #ffffff;
}
footer p {
  font-size: 13px;
}
footer ul {
  padding-left: 0;
}
footer li {
  font-size: 13px;
  list-style-type: none;
}
footer h3 {
  padding-top: 90px;
  padding-bottom: 20px;
  margin-bottom: 0;
}
footer input {
  width: calc(100% - 80px);
  height: 55px;
  border: none;
  border-radius: 3px 0 0 3px;
  margin-top: 2px;
  margin-bottom: 10px;
}
footer .submit {
  width: 70px;
  height: 55px;
  border: none;
  border-radius: 0 3px 3px 0;
  padding-top: 10px;
  margin: 0;
}
footer .spam {
  color: #57697f;
}

.section_one {
  height: 946px;
  background: url("images/Header.png") no-repeat;
  background-size: cover;
}
.section_one .logo {
  height: 33px;
  margin-top: 30px;
}
@media (max-width: 1250px) {
  .section_one .site-title {
    padding-top: 350px;
  }
}
.section_one .site-title_subheading {
  font-size: 13px;
  color: #ffffff;
}
.section_one .perfect {
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  font-weight: 600;
  transform-origin: 350px 240px;
  transform: rotate(-90deg);
}
.section_one .perfect span {
  font-weight: 300;
}
@media (max-width: 1430px) {
  .section_one .perfect {
    display: none;
  }
}
.section_one .iphone {
  height: 862px;
}
@media (min-width: 1250px) {
  .section_one .iphone {
    position: relative;
    top: 150px;
    right: 100px;
  }
}
@media (max-width: 1250px) {
  .section_one .iphone {
    display: none;
  }
}

.description {
  height: 538px;
}
.description .container {
  height: 538px;
}
.description h2 {
  padding-bottom: 20px;
}
.description .paragraph-right {
  padding-top: 127px;
}

.featured-content h2, .featured-content p, .featured-content a {
  color: #ffffff;
  padding: 0 40px 14px 40px;
}
.featured-content .design-quality, .featured-content .built-to-last, .featured-content .our-clients, .featured-content .sign-up, .featured-content .perfect-pictures {
  height: 275px;
  padding-top: 50px;
}
.featured-content .design-quality {
  background-color: #f5989d;
}
.featured-content .built-to-last {
  background-color: #615f7d;
}
.featured-content .our-clients {
  background: url("images/photo2.png");
}
.featured-content .sign-up {
  background: url("images/photo1.png");
}
.featured-content .perfect-pictures {
  background-color: #82ca9c;
}

.details {
  height: 524px;
}
.details .takpap {
  transform-origin: 130px 20px;
}
@media (max-width: 1430px) {
  .details .takpap {
    display: none;
  }
}

.big_picture {
  height: 873px;
  background: url("images/Car.png") no-repeat;
  background-size: cover;
}
.big_picture .container {
  height: 873px;
  padding-bottom: 135px;
}
.big_picture p, .big_picture a {
  color: #ffffff;
}
.big_picture h1 {
  hyphens: manual;
}

.reasons {
  height: 553px;
  background-color: #82ca9c;
}
.reasons .takpap {
  transform-origin: 185px 75px;
}
@media (max-width: 1430px) {
  .reasons .takpap {
    display: none;
  }
}
.reasons .container {
  height: 553px;
}
.reasons h2, .reasons h3, .reasons p {
  color: #ffffff;
}
.reasons h2 {
  font-size: 35px;
  padding-bottom: 40px;
  padding-top: 125px;
}

.prices {
  height: 665px;
  background-color: #f6f7fa;
}
.prices .takpap {
  transform-origin: 175px 65px;
}
@media (max-width: 1430px) {
  .prices .takpap {
    display: none;
  }
}
.prices .container, .prices .row {
  height: 565px;
  padding-bottom: 50px;
}
.prices .legacy {
  background-color: #e1e1e1;
}
.prices .popular {
  background-color: #bd8cbf;
}
.prices h2, .prices p {
  padding-bottom: 15px;
}
.prices .team-plan {
  background-color: #ffffff;
  box-shadow: 0 0 20px #e1e1e1;
  padding: 50px;
}
.prices .price-button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 700;
}
.prices img {
  height: 25px;
  margin-right: 20px;
  color: #c5c5c5;
}

/*# sourceMappingURL=style.css.map */
