$color-white: #ffffff;
$color-black: #222626;
$color-grey: #959595;
$color-pink: #f5989d;
$color-purple: #615f7d;
$color-green: #82ca9c;
$color-violet: #bd8cbf;
$color-pale-grey: #e1e1e1;
$color-pale-blue: #f6f7fa;
$color-pale-grey-icons: #c5c5c5;
$color-dark-blue: #192431;
$color-blue-text: #57697f;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;